<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
 http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-4.0.xsd">  

     <context:component-scan base-package="com.telusko.controller"></context:component-scan>
      <context:component-scan base-package="com.telusko.dao"></context:component-scan>
     <context:component-scan base-package="com.telusko.model"></context:component-scan> 
     <context:annotation-config/>
     <mvc:annotation-driven></mvc:annotation-driven>
      <tx:annotation-driven transaction-manager="transactionManager"/>
     <mvc:resources mapping="/images/**" location="/image/logo1.png"></mvc:resources>
    <mvc:resources mapping="/resources/**" location="/css/contact.css"></mvc:resources> 
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/" />  
        <property name="suffix" value=".jsp" />     
    </bean> 
     
     
     
     
     
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    <property name="url"  value="jdbc:mysql://localhost:3306/naveen"></property>
    <property name="username"  value="root"></property>
    <property name="password"  value=""></property>
    </bean>
    
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="mappingResources">
        <list>
        <value>hibernate.hbm.xml</value>
         <value>signin.hbm.xml</value>
        </list>
        </property>
    </bean> 
    
</beans>  